*{
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
}
.header {
    background-color: rgb(20, 20, 20);
    line-height: 70px;
    padding-left: 30px;
font-family:Tangerine;
font-size: 30px;
font-weight:bold;
color:azure;
}

    ul{
        background-color: rgb(60,60,60);
        width: 10%;
        height: 100%;
        position: fixed;
      
        text-align: center;
    }
   ul li{
        list-style: none;
        padding-bottom: 20px;
        font-size: 15px;
        font-family: cursive;
        color: white;
        font-weight: bold;
    }
     
        
    
    ul li button:hover{
        color: rgb(0,0,0);
        
    }
    button{
        border: 2px solid black;
        background-color: rgb(80,80,80);
        color: white;
        font-weight: bold;
        padding: 20px;
    }
  
    

  